env.sh

.claude/file-history
.claude/history.jsonl
.claude/projects
.claude/statsig
.claude/todos
.claude/ide
.claude/shell-snapshots
.claude/debug
.claude/plugins/marketplaces/claude-code-plugins/

# An experimental zeke-specific thing that logs 
# hook events on a per-project basis.
.claude/hook-events.jsonl